In [46]:
#1) What is 3 + 5 * 2 - 6?
print(3 + 5 * 2 - 6)

7

In [47]:
#2) Write a python program that multiplies 3 * 5 and prints the result. (Can be done in 1 line.)
print("3 * 5 = %d" % (3 * 5))

3 * 5 = 15

In [48]:
#3) Write a python program that assigns a number to a variable and prints the variable. 
# (Can be done in 2 lines.)
variable = 1337
print(variable)

1337

In [49]:
#4) The following python program generates a syntax error.

print ('''What is Beethoven doing now?
...
...
DE-composing.''')
       
'''
What could one do to fix the syntax error and have the four lines print properly?
  a. Remove the double-quotes.
  b. Replace the double-quotes with single-quotes.
  c. Add # to the front of the last three lines.
  d. Replace each double-quote with three single quotes. << CORRECT
'''

What is Beethoven doing now?
...
...
DE-composing.

'\nWhat could one do to fix the syntax error and have the four lines print properly?\n  a. Remove the double-quotes.\n  b. Replace the double-quotes with single-quotes.\n  c. Add # to the front of the last three lines.\n  d. Replace each double-quote with three single quotes. << CORRECT\n'

In [50]:
#5) Write a python print statement that prints the following 
# including the quotes and apostrophes:

print('John said, "I\'d tell you a UDP joke but you might not get it."')

John said, "I'd tell you a UDP joke but you might not get it."

In [51]:
#6) Given the following list:
# captains=['Kirk','Picard','Janeway','Archer']
# Write a python print statement that uses the list to print Picard.
captains=['Kirk','Picard','Janeway','Archer']
print(captains[1])

Picard

In [52]:
#7) Given the following list:
# captains=['Kirk','Picard','Janeway','Archer']
# Write a python print statement that adds Pike to the list.
captains=['Kirk','Picard','Janeway','Archer']
captains.append("Pike")
print(captains)

['Kirk', 'Picard', 'Janeway', 'Archer', 'Pike']

In [53]:
#8) Given the following list:
# captains=['Kirk','Picard','Riker','Janeway','Archer']
# Write a python print statement that removes Riker from the list.
captains=['Kirk','Picard','Riker','Janeway','Archer']
del captains[2]
print(captains)

['Kirk', 'Picard', 'Janeway', 'Archer']

In [54]:
#9) Given the following map:
names={'Kirk' : 'James',
              'Spock' : '',
              'McCoy' : 'Leonard',
              'Scott' : 'Montgomery',
              'Uhura' : 'Nyota',
              'Checkov': 'Pavel'}
# Write a python print statement that uses the names map to print the following:
# The engineer's first name is Montgomery.
print("The engineer's first name is %s." % names['Scott'])

The engineer's first name is Montgomery.

In [55]:
#10) Given the following map:
names={'Kirk' : 'James',
              'Spock' : '',
              'McCoy' : 'Leonard',
              'Scott' : 'Montgomery',
              'Uhura' : 'Nyota',
              'Checkov': 'Pavel'}
# Write a python statement that adds 'Sulu':'Hikaru' to the names map.
names['Sulu'] = 'Hikaru'
print(names)

{'Kirk': 'James', 'Spock': '', 'McCoy': 'Leonard', 'Scott': 'Montgomery', 'Uhura': 'Nyota', 'Checkov': 'Pavel', 'Sulu': 'Hikaru'}

In [56]:
#11) Given the following map:
names={'Kirk' : 'James',
              'Spock' : '',
              'McCoy' : 'Leonard',
              'Scott' : 'Montgomery',
              'Uhura' : 'Nyota',
              'Checkov': 'Pavel'}
#Write a python statement that removes Spock from the names map.
del names['Spock']
print(names)

{'Kirk': 'James', 'McCoy': 'Leonard', 'Scott': 'Montgomery', 'Uhura': 'Nyota', 'Checkov': 'Pavel'}

In [57]:
# 12) Write a python program that draws a square using the turtle module.
from ipyturtle import Turtle
t = Turtle(fixed=False, width=320, height=320)
t

In [58]:
squareSize = 50
t.forward(squareSize)
t.left(90)
t.forward(squareSize)
t.left(90)
t.forward(squareSize)
t.left(90)
t.forward(squareSize)
t.left(90)

In [60]:
#13) Given the following python program that has a syntax error:

score=88

if score >= 90:
  print ("A")
elif score >= 80:
  print ("B")
elif score >= 70:
  print ("C")
elif score >= 60:
  print ("D")
else:
  print ("Try again")

# Enter the line you corrected that allows the program to run.

# elsif score >= 80:  ->  elif score >= 80:

B

In [62]:
#14) Given the following python program that converts scores to 
# letter grades using the standard 90+ is an A, 80+ is a B, etc.:
score=70

if score >= 90:
  print ("A")
elif score >= 80:
  print ("B")
elif score >= 70:
  print ("C")
elif score >= 60:
  print ("D")
else:
  print ("Try again")

#A score of 70 should cause the program to print a C but when the 
#program runs it prints a D. 
#Enter the line you corrected that allows the program to convert 
#scores to letters properly.

# elif score > 70:   ->   elif score >= 70:

C

In [64]:
#15) Given the following python program that converts scores to letter grades using the 
#standard 90+ is an A, 80+ is a B, etc.:

score=88

if score >= 90:
  print ("A")
elif score >= 80:
  print ("B")
elif score >= 70:
  print ("C")
elif score >= 60:
  print ("D")
else:
  print ("Try again")

# With a score of 88 the program should print a B, but it prints B, C, and D. 
# How would you change the program so it functions correctly.

# change the second, third and forth if's to elif's

B

In [68]:
#16) Given the following python program:

tShirtPriceDollars = 40

if tShirtPriceDollars >= 50:
    print ("I call that getting swindled and pimped.")
    print ("I call that getting tricked by bizzz-ness.")

# Both print statements should only print if the t-shirtPrice is 50 or more. 
#Why does the second print statement print no matter what the price is? 
#And what would you do to fix it?

# Indentation is off for the second print statement. 
# Tab it in so it is part of the if block

In [72]:
#17) Given the following python program:
this = "the momento"
tonight = "the knight"
if this == "the moment" or tonight == "the night":
    print ("We put our hands up like the ceiling can\'t hold us.")

'''
The print statement executes when (select all that apply)
a. The first condition is true and the second condition is false. << CORRECT
b. The first condition is false and the second condition is true. << CORRECT
c. Neither conditions are true. << NO
d. Both conditions are true. << CORRECT
'''

We put our hands up like the ceiling can't hold us.

'\nThe print statement executes when (select all that apply)\na. The first condition is true and the second condition is false. << CORRECT\nb. The first condition is false and the second condition is true. << CORRECT\nc. Neither conditions are true. << NO\nd. Both conditions are true. << CORRECT\n'

In [ ]:
#18) Given the following python program:

if time >= bar_closing and youFeelLike == fallingDown:
    print ("I\'ll carry you home... ")
    print ("Toni-i-i-ight... we are you-u-ung...")

'''
The print statements execute when (select all that apply)
a. The first condition is true and the second condition is false.
b. The first condition is false and the second condition is true.
c. Neither conditions are true.
d. Both conditions are true.  << CORRECT
'''

In [73]:
#19) Given the following python program where stringOne contains "127" 
#and stringTwo contains "77":
stringOne = "127"
stringTwo = "77"

if stringOne > stringTwo:
    print ("%s > %s" % (stringOne,stringTwo))
if stringOne < stringTwo:
    print ("%s < %s" % (stringOne,stringTwo))

'''
What prints?
a. 127 > 77 
b. 127 < 77 << CORRECT
c. 77 > 127
d. 77 < 127
'''

127 < 77

'\nWhat prints?\na. 127 > 77 \nb. 127 < 77 \nc. 77 > 127\nd. 77 < 127\n'

In [78]:
print("127" < "77")
print(127 < 77)

True
False

In [74]:
#20) Given the following python program where integerOne contains 127 
# and integerTwo contains 77:
integerOne = 127
integerTwo = 77

if integerOne > integerTwo:
    print ("%s > %s" % (integerOne,integerTwo))
if integerOne < integerTwo:
    print ("%s < %s" % (integerOne,integerTwo))

'''
What prints?
a. 127 > 77 << CORRECT
b. 127 < 77
c. 77 > 127
d. 77 < 127
'''

127 > 77

'\nWhat prints?\na. 127 > 77 << CORRECT\nb. 127 < 77\nc. 77 > 127\nd. 77 < 127\n'